//
// Import resources
//

// Import key color-scheme defined at build-time.
@import 'resources/key_colors';

//
// Foreground colors
//

$fg: if($variant == dark, color($grey, 100),
                          mix(color($grey, 900), black));
$sec_fg: track($fg, $a_fg_2nd);
$ter_fg: track($fg, $a_fg_3rd);

$sel_fg: white;
$sec_sel_fg: track($sel_fg, $a_fg_sel_2nd);
$ter_sel_fg: track($sel_fg, $a_fg_sel_3rd);

$dis_fg: track($fg, $a_fg_dis);
$dis_sec_fg: track($sec_fg, $a_fg_dis);
$dis_ter_fg: track($ter_fg, $a_fg_dis);

$dis_sel_fg: track($sel_fg, $a_fg_bdp);
$dis_sec_sel_fg: track($sec_sel_fg, $a_fg_bdp);
$dis_ter_sel_fg: track($ter_sel_fg, $a_fg_bdp);

// placeholder text in GtkEntry
$plc_fg: if($variant == light, color($grey, $primary_level),
                               color($grey, $primary_level + 200));

//
// Inverted foreground colors
//

$inv_fg: color($grey, 100);
$inv_sec_fg: track($inv_fg, $a_fg_2nd);
$inv_ter_fg: track($inv_fg, $a_fg_3rd);

$dis_inv_fg: track($inv_fg, $a_fg_dis);
$dis_inv_sec_fg: track($inv_sec_fg, $a_fg_dis);
// for SSD titlebars
$unf_title_fg: if($variant == light, track($fg, $a_fg_bdp),
                                     track($inv_fg, $a_fg_bdp));

$fix_fg: color($grey, 900);
$sec_fix_fg: track($fix_fg, $a_fg_2nd);
$ter_fix_fg: track($fix_fg, $a_fg_3rd);
$dis_fix_fg: track($fix_fg, $a_fg_dis);

//
// Background colors
//

$bg: if($variant == dark,
        mix(color($grey, 900), black, percentage($a_fg_2nd)),
        mix(color($grey, 50), color($grey, 100)));
$base: if($variant == dark,
          mix(color($grey, 900), black),
          white);
$dark_bg: if($variant == dark,
             mix(color($grey, 900), black, percentage($a_trk_2)),
             mix(color($grey, 200), color($grey, 300)));

//
// Dark background colors on light variant
//

$inv_bg: mix(color($grey, 900), black, percentage($a_fg_2nd));
$inv_base: mix(color($grey, 900), black);
$inv_dark_bg: mix(color($grey, 900), black, percentage($a_trk_2));

//
// Light background colors on dark variant
//

$fix_base: white;

//
// Selection (primary) colors
//

// Default: #3f51b5 (Indigo500)
$sel_bg: $key_selection_color;
// $sel_bg: color($indigo, $primary_level);
$sel_label: if($variant == dark,
               saturate(
                 lighten($sel_bg, percentage($a_trk_2)),
                 percentage($a_trk_2)),
               $sel_bg);
$inv_sel_label: saturate(
                  lighten($sel_bg, percentage($a_trk_2)),
                  percentage($a_trk_2));

//
// Accent (secondary) colors
//

// Default: #7986cb (Indigo300)
$acc_bg: $key_accent_color;
//$acc_bg: color($indigo, $secondary_level);
$acc_fg: if($variant == dark,
            saturate(
              lighten($acc_bg, percentage($a_trk_1)),
              percentage($a_trk_1)),
            saturate(
              darken($acc_bg, percentage($a_trk_2)),
              percentage($a_trk_2)));
$sec_acc_fg: track($acc_fg, $a_fg_sel_2nd);
$drp_fg: $acc_fg;
$drp_bg: track($drp_fg, $a_trk_out);

$inv_acc_fg: mix($acc_bg, $inv_fg, percentage($a_fg_3rd));
$inv_sec_acc_fg: track($inv_acc_fg, $a_fg_2nd);

//
// Tracker colors
//

$trk_bg: track(currentColor, $a_trk_1);
$trk_out_fg: track(currentColor, $a_trk_out);

//
// Edge colors
//

$div_fg: if($variant == dark, track(black, $a_div_0),
                              track(black, $a_div_1));
$div_sld_fg: if($variant == dark, mix(black, $base, percentage($a_div_0)),
                                  mix(black, $bg, percentage($a_div_1)));
$div_sld_dark_fg: if($variant != light,
                     black,
                     mix(black, $dark_bg, percentage($a_div_1)));
$div_top_fg: if($variant == light,
                mix(white, $dark_bg, percentage($a_div_1)),
                mix(white, $inv_dark_bg, percentage($a_div_2)));
$div_pane_fg: if($variant == dark, track(black, $a_div_1),
                                   track(black, $a_div_2));

//
// Misc colors
//

$link: color($blue, $primary_level);
$link_vst: color($purple, $primary_level);

$link_fg: if($variant == dark,
             saturate(lighten($link, percentage($a_trk_1)),
               percentage($a_trk_1)),
             $link);
$link_vst_fg: if($variant == dark,
                 saturate(lighten($link_vst, percentage($a_trk_2)),
                   percentage($a_trk_2)),
                 $link_vst);

// Default: #673ab7 (DPurple500)
$sggt_bg: $key_suggestion_color;
// $sggt_bg: color($d_purple, $primary_level);

// Default: #f44336 (Red500)
$dest_bg: $key_destruction_color;
// $dest_bg: color($red, $primary_level);

$warn: color($orange, $primary_level);
$err: color($red, $primary_level);

$sccs_bg: color($green, $primary_level);
$info_bg: color($teal, $secondary_level - 100);
$ques_bg: color($yellow, $secondary_level - 100);
$warn_bg: color($orange, $secondary_level - 100);
$err_bg: $err;

//
// Tooltip background color
//

$tooltip_bg: if($variant == dark, color($grey, 800),
                                  color($grey, 400));
$inv_tooltip_bg: color($grey, 800);

//
// Solid panel color
//

$panel_bg: if($variant == light, color($grey, 300), black);
$panel_div_fg: if($variant == light, track($fg, $a_div_2),
                                     track($inv_fg, $a_div_2));

//
// Selection-mode headerbar
//

$dark_sel_bg: if($variant == light,
                 mix($sel_bg, $dark_bg, percentage($a_fg_bdp)),
                 mix($sel_bg, $inv_dark_bg, percentage($a_fg_bdp)));
$div_top_sel_fg: mix(white, $dark_sel_bg, percentage($a_div_2));
