/*
 *  This file is part of plata-theme
 *
 * Copyright (C) 2018-2019 Tista <tista.gma500@gmail.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

//
// Drawing mixins
//

// generic drawing of more complex things

//
// shadows
//

$z-depth-1: 0 1px 2px rgba(0, 0, 0, 0.28);
$z-depth-2: 0 2.5px 4.5px rgba(0, 0, 0, 0.34);
$z-depth-3: 0 4.5px 5.5px rgba(0, 0, 0, 0.38);
$z-depth-4: 0 10px 14px rgba(0, 0, 0, 0.44);
$z-depth-5: 0 14px 19px rgba(0, 0, 0, 0.50);

$empty_shadow: 0 0 transparent; // replacement of the 'none'

//
// Entries
//
// $t: entry type
// $tc: text color
// $fc: focus color
//
// possible $t values: normal, focus, hover, disabled;
//

@mixin entry($t, $tc: $fg, $fc: $sel_bg) {
  @if $t == normal {
    background-color: opacity($tc, $a_trk_1 / 2);
    color: opacity($tc, $a_fg_2nd);
    caret-color: opacity($tc, $a_fg_2nd);
    box-shadow: inset 0 -2px opacity($tc, $a_trk_out);
  }
  @else if $t == focus {
    background-color: opacity($tc, $a_trk_1);
    color: $tc;
    caret-color: $tc;
    box-shadow: inset 0 -2px $fc;
  }
  @else if $t == hover {
    background-color: opacity($tc, $a_trk_1);
    color: $tc;
    box-shadow: inset 0 -2px opacity($tc, $a_trk_out);
  }
  @else if $t == disabled {
    background-color: opacity($tc, $a_trk_1 / 2 * $a_fg_dis);
    color: opacity($tc, $a_fg_dis);
    box-shadow: $empty_shadow;
  }
}

//
// Buttons
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
//
// possible $t values:
// normal, focus, hover, active, disabled, flat-normal,
// flat-focus, flat-hover, flat-active, flat-disabled,
// raised-normal, raized-focus, raised-hover, raised-active,
// raised-disabled;
//

@mixin button($t, $c: $base, $tc: $fg) {
  @if $t == normal {
    border: 1px solid mix($tc, $c, percentage($a_div_1));
    background-color: $c;
    color: opacity($tc, $a_fg_2nd);
  }
  @else if $t == focus {
    border: 1px solid mix($tc, $c, percentage($a_div_1));
    background-color: $c;
    color: $tc;
    box-shadow: inset 0 0 0 2px opacity($tc, $a_trk_out);
  }

  @else if $t == hover {
    border-color: mix($tc, $c, percentage($a_trk_1));
    background-color: mix($tc, $c, percentage($a_trk_1));
    color: $tc;
  }
  @else if $t == active {
    border-color: mix($tc, $c, percentage($a_trk_2));
    background-color: mix($tc, $c, percentage($a_trk_2));
    color: $tc;
  }
  @else if $t == checked {
    border-color: $sel_bg;
    background-color: $sel_bg;
    color: $sel_fg;
  }
  @else if $t == disabled {
    border-color: mix($tc, $c, percentage($a_div_1 * $a_fg_dis));
    background-color: mix($tc, $c, percentage($a_trk_1 / 2 * $a_fg_dis));
    color: opacity($tc, $a_fg_dis);
  }
  @else if $t == flat-normal {
    border: none;
    background-color: if($variant != light, $hidden_fill_bg,
                                            opacity(white, 0.01));
    color: opacity($tc, $a_fg_2nd);
    box-shadow: inset 0 0 0 2px transparent;
  }
  @else if $t == flat-focus {
    border: none;
    color: $tc;
    box-shadow: inset 0 0 0 2px opacity($tc, $a_trk_out);
  }
  @else if $t == flat-hover {
    border: none;
    background-color: opacity($tc, $a_trk_1);
    color: $tc;
  }
  @else if $t == flat-active {
    border: none;
    background-color: opacity($tc, $a_trk_2);
    color: $tc;
    box-shadow: $empty_shadow;
  }
  @else if $t == flat-disabled {
    border: none;
    background-color: $hidden_fill_bg;
    color: opacity($tc, $a_fg_dis);
    box-shadow: $empty_shadow;
  }
  @else if $t == raised-normal {
    border: 2px solid transparent; // for outlines
    background-color: $c;
    color: opacity($tc, $a_fg_2nd);
    box-shadow: $z-depth-1;
  }
  @else if $t == raised-focus {
    border: 2px solid opacity($tc, $a_trk_out);
    color: $tc;
    box-shadow: $z-depth-1;
  }
  @else if $t == raised-hover {
    border: 2px solid transparent;
    background-color: mix($tc, $c, percentage($a_trk_1));
    color: $tc;
    box-shadow: $z-depth-2;
  }
  @else if $t == raised-active {
    border: 2px solid transparent;
    background-color: $sel_bg;
    color: $sel_fg;
    box-shadow: $z-depth-1;
  }
  @else if $t == raised-disabled {
    border: 2px solid transparent;
    background-color: opacity($tc, ($a_trk_1));
    color: opacity($tc, $a_fg_dis);
    box-shadow: $empty_shadow;
  }
}
